/* CSS Document */
h1 { color: #79BFFC;}
		h2 { color: #E86590;}
		h3 { color: #37AD64;}
		
		header {
			background: #F8CBCB;
			padding: 2px;
			text-align:center;
			}
		footer {
			background: #D2CECE;
			padding: 2px;
			text-align:center;
			}
		main {
			background: #C3F0DC;
			padding: 2px;
			text-align:center;
			}
.hinweis {color: red;}
.allgtext {color: #CD40F1;}
#text {color:beige;}
